openapi: 3.0.3
info:
  title: Telenow Voice API
  version: 0.1.1
  description: >
    Control-plane API for the Telenow Voice SDK. Generate backend clients in any
    language from this spec (see README). Audio is carried over a separate
    WebSocket (`/ws/web-agent`), not described here.
servers:
  - url: https://api.telenow.ai
    description: Production
  - url: http://localhost:3005
    description: Local dev

security:
  - ApiKeyAuth: []

paths:
  /api/client-tokens:
    post:
      operationId: createClientToken
      summary: Mint a short-lived, scoped client token for a browser/app.
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientTokenRequest' }
      responses:
        '200':
          description: Token minted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties: { data: { $ref: '#/components/schemas/ClientToken' } }
        '401': { $ref: '#/components/responses/Error' }

  /api/sessions/initiate-call:
    post:
      operationId: initiateCall
      summary: Place an outbound PSTN call.
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InitiateCallRequest' }
      responses:
        '200':
          description: Call started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties: { data: { $ref: '#/components/schemas/CallResult' } }
        '400': { $ref: '#/components/responses/Error' }

  /api/sessions/{id}/transfer:
    post:
      operationId: transferCall
      summary: Warm-transfer a live call to a phone number.
      security: [{ ApiKeyAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/SessionId' }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to]
              properties: { to: { type: string, example: '+15551234567' } }
      responses:
        '200': { description: Transferred }
        '400': { $ref: '#/components/responses/Error' }

  /api/sessions/{id}:
    delete:
      operationId: endSession
      summary: End a session (hang up). API key or user JWT.
      security: [{ ApiKeyAuth: [] }, { BearerAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/SessionId' }]
      responses:
        '200': { description: Ended }
        '404': { $ref: '#/components/responses/Error' }

  /api/sessions/init-web-call:
    post:
      operationId: initWebCall
      summary: Initialize a browser/app call (AI agent), or bridge a manual/softphone telephony call.
      description: >
        Two modes. **Agent mode** (`mode` omitted/`"agent"`) starts an AI web
        session — the orchestrator drives STT→LLM→TTS. **Manual mode**
        (`mode: "manual"`) places a softphone telephony call: Telenow rings
        `toNumber` from your org's `fromNumber` caller-ID and bridges the carrier
        leg to a human on a browser/app — no AI, no STT/LLM/TTS. Both return
        `{ sessionId, websocketUrl }`; connect a client SDK to `websocketUrl` as
        the agent's (agent mode) or human's (manual mode) audio leg. Recordings
        and webhooks (`call.started`, `call.ended`, `recording.ready`) fire in
        both modes. Authorize with a client token (Bearer) or API key.
      security: [{ BearerAuth: [] }, { ApiKeyAuth: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum: ['agent', 'manual']
                  default: agent
                  description: '`agent` = AI web session. `manual` = softphone telephony bridge.'
                agentId:
                  type: string
                  description: Required for agent mode; ignored in manual mode.
                fromNumber:
                  type: string
                  example: '+15550001111'
                  description: >
                    Manual mode caller-ID — an E.164 number your org owns
                    (Numbers / BYOC / SIP). Required with an API key; on a
                    user JWT it defaults to the member's allocated number.
                toNumber:
                  type: string
                  example: '+15551234567'
                  description: Manual mode — destination to ring (E.164).
                variables: { type: object, additionalProperties: { type: string } }
                identifier:
                  type: string
                  description: Trusted caller identifier, injected into tool calls when the agent opts in (agent mode).
                userId: { type: string, format: uuid }
                firstResponse:
                  type: string
                  description: >
                    Agent mode — override the agent's opening line for THIS
                    session. When set (non-blank) the agent speaks this text
                    first instead of its saved opener (e.g. a personalized
                    `"Hi {name}!"`). Variables resolve against `variables`.
      responses:
        '200':
          description: Session ready
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties: { data: { $ref: '#/components/schemas/SessionInfo' } }

  /api/public/widget/{slug}/session:
    post:
      operationId: createPublicWidgetSession
      summary: Start an anonymous public-widget session (no auth).
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessCode: { type: string }
                variables: { type: object, additionalProperties: { type: string } }
                lead: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Session ready
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - properties: { data: { $ref: '#/components/schemas/SessionInfo' } }

  /api/agents:
    get:
      operationId: listAgents
      summary: List agents.
      responses: { '200': { description: OK } }
    post:
      operationId: createAgent
      summary: Create an agent.
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Agent' } } }
      responses: { '200': { description: Created } }

  /api/agents/{id}:
    get:
      operationId: getAgent
      parameters: [{ $ref: '#/components/parameters/AgentId' }]
      responses: { '200': { description: OK } }
    put:
      operationId: updateAgent
      parameters: [{ $ref: '#/components/parameters/AgentId' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Agent' } } }
      responses: { '200': { description: Updated } }

  # ------------------------------------------------------------------
  # /api/v1 — key-authed integration surface (Zapier / Make / n8n /
  # viaSocket). Org always comes from the API key; responses are FLAT
  # JSON (no {success,data} envelope).
  # ------------------------------------------------------------------
  /api/v1/me:
    get:
      operationId: whoAmI
      summary: Connection test — identifies the key's org.
      security: [{ ApiKeyAuth: [] }]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  org_id: { type: string, format: uuid }
                  org_name: { type: string }
                  key_id: { type: string, format: uuid }
                  key_name: { type: string }
                  key_role: { type: string, example: developer }
        '401': { $ref: '#/components/responses/Error' }

  /api/v1/hooks:
    get:
      operationId: listHooks
      summary: List webhook subscriptions (REST hooks).
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - name: source
          in: query
          required: false
          schema: { type: string, example: n8n }
          description: Only hooks registered by this platform label.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hooks:
                    type: array
                    items: { $ref: '#/components/schemas/Hook' }
                  total: { type: integer }
    post:
      operationId: createHook
      summary: Subscribe a target URL to webhook events (REST hooks).
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateHookRequest' }
      responses:
        '201':
          description: Subscribed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Hook' }
        '400': { $ref: '#/components/responses/Error' }

  /api/v1/hooks/{id}:
    delete:
      operationId: deleteHook
      summary: Unsubscribe (idempotent — already-gone returns deleted=false).
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  deleted: { type: boolean }

  /api/v1/agents:
    get:
      operationId: listAgentsSlim
      summary: Slim agent list (ids + labels, for dropdowns).
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - { name: is_active, in: query, schema: { type: boolean } }
        - { name: limit, in: query, schema: { type: integer, default: 100, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses: { '200': { description: '{ agents: [...], total }' } }

  /api/v1/numbers:
    get:
      operationId: listNumbersSlim
      summary: Owned phone numbers (slim).
      security: [{ ApiKeyAuth: [] }]
      responses: { '200': { description: '{ numbers: [...], total }' } }

  /api/v1/calls:
    get:
      operationId: listCallsV1
      summary: Call history, newest first.
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - { name: agent_id, in: query, schema: { type: string, format: uuid } }
        - { name: status, in: query, schema: { type: string, example: ended } }
        - { name: sort, in: query, schema: { type: string, enum: [newest, oldest, longest, shortest] } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 200 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses: { '200': { description: '{ calls: [...], total }' } }

  /api/v1/calls/{id}:
    get:
      operationId: getCallV1
      summary: One call, including its transcript.
      security: [{ ApiKeyAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/SessionId' }]
      responses:
        '200': { description: Call object with transcript array }
        '404': { $ref: '#/components/responses/Error' }

  /api/v1/chat:
    post:
      operationId: chatSend
      summary: Send one text-chat turn to an agent (creates the session on the first call).
      description: >
        Text conversation with an agent — same brain, knowledge bases (RAG) and
        HTTP tools as a voice call, no audio. Omit `sessionId` on the first turn
        (the response returns one); pass it on follow-ups. Flat JSON. A `410`
        means the session expired — resend the same message WITHOUT `sessionId`.
        A `409` means a reply is still generating — wait, then retry.
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChatRequest' }
      responses:
        '200':
          description: Agent reply
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatReply' }
        '400': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409':
          description: '`{ "error": "turn in progress" }` — a reply is still generating; retry.'
        '410':
          description: '`{ "error": "session expired", "code": "SESSION_EXPIRED" }` — resend without sessionId.'

  /api/v1/chat/{id}/messages:
    get:
      operationId: chatMessages
      summary: Full user/assistant transcript of a chat session.
      security: [{ ApiKeyAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/SessionId' }]
      responses:
        '200':
          description: Transcript
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatTranscript' }
        '404': { $ref: '#/components/responses/Error' }

  /api/v1/chat/{id}/end:
    post:
      operationId: chatEnd
      summary: End a chat session (idempotent) — settles billing + triggers analysis.
      security: [{ ApiKeyAuth: [] }]
      parameters: [{ $ref: '#/components/parameters/SessionId' }]
      responses:
        '200':
          description: Ended
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId: { type: string, format: uuid }
                  ended: { type: boolean, example: true }
        '404': { $ref: '#/components/responses/Error' }

  /api/v1/events/sample:
    get:
      operationId: sampleEvent
      summary: Latest real payload for an event type (canned dummy if none).
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [call.started, call.ended, transcript.ready, tool.invoked, recording.ready, call.analyzed]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_type: { type: string }
                  is_real: { type: boolean }
                  samples:
                    type: array
                    items: { type: object }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      description: Ephemeral client token (or user JWT).
  parameters:
    SessionId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    AgentId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
  responses:
    Error:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              success: { type: boolean, example: false }
              error: { type: string }
  schemas:
    Envelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { type: object }
    Hook:
      type: object
      properties:
        id: { type: string, format: uuid }
        target_url: { type: string, format: uri }
        events:
          type: array
          items: { type: string, example: call.ended }
        agent_id: { type: string, format: uuid, nullable: true }
        include_recording: { type: boolean }
        include_transcript: { type: boolean }
        source: { type: string, example: zapier }
        created_at: { type: string, format: date-time }
    CreateHookRequest:
      type: object
      required: [target_url]
      properties:
        target_url: { type: string, format: uri, description: 'HTTPS receiver URL' }
        event: { type: string, description: 'Single event name (alternative to the events array)' }
        events:
          type: array
          items: { type: string }
          description: 'Valid: call.started, call.ended, transcript.ready, tool.invoked, recording.ready, call.analyzed, or "*"'
        agent_id: { type: string, format: uuid, description: Scope to one agent (omit = org-wide) }
        include_recording: { type: boolean, default: false }
        include_transcript: { type: boolean, default: false }
        source: { type: string, description: 'Platform label: zapier | make | n8n | viasocket | …' }
    ChatRequest:
      type: object
      required: [agentId, identifier, input]
      properties:
        agentId: { type: string, format: uuid, description: 'Must belong to your org and be active.' }
        identifier:
          type: string
          maxLength: 128
          example: user-42
          description: 'Your stable end-user id (1–128 chars). Binds the session.'
        input: { type: string, example: 'Hello!', description: "The user's message." }
        sessionId:
          type: string
          format: uuid
          description: 'Omit on the first turn; send the returned id on follow-ups.'
        variables:
          type: object
          additionalProperties: { type: string }
          description: 'Context variables — first message of a session only.'
    ChatReply:
      type: object
      properties:
        sessionId: { type: string, format: uuid }
        reply: { type: string, description: "The agent's full reply (tool calls resolved)." }
        turn: { type: integer, description: 'User turns this session has seen (1-based).' }
        identifier: { type: string }
    ChatMessage:
      type: object
      properties:
        role: { type: string, example: assistant }
        content: { type: string }
        createdAt: { type: string, format: date-time }
    ChatTranscript:
      type: object
      properties:
        sessionId: { type: string, format: uuid }
        messages:
          type: array
          items: { $ref: '#/components/schemas/ChatMessage' }
    ClientTokenRequest:
      type: object
      required: [agentId]
      properties:
        agentId: { type: string }
        ttlSeconds: { type: integer, example: 600 }
        maxCalls: { type: integer, example: 1 }
        variables: { type: object, additionalProperties: { type: string } }
        callerIdentity:
          type: object
          properties:
            number: { type: string }
            identifier: { type: string }
            channel: { type: string }
    ClientToken:
      type: object
      properties:
        token: { type: string }
        expiresAt: { type: string, format: date-time }
    InitiateCallRequest:
      type: object
      required: [agentId, mobileNumber]
      properties:
        agentId: { type: string }
        mobileNumber: { type: string, example: '+15551234567' }
        variables: { type: object, additionalProperties: { type: string } }
        identifier: { type: string }
        firstResponse:
          type: string
          description: Override the agent's opening line for this call.
        machineDetection:
          type: string
          enum: ['true', 'hangup']
          description: Answering-machine detection (Plivo only).
        callType: { type: string }
        userId: { type: string, format: uuid }
    CallResult:
      type: object
      properties:
        sessionId: { type: string }
        callId: { type: string }
        status: { type: string }
        phoneNumber: { type: string }
    SessionInfo:
      type: object
      properties:
        sessionId: { type: string }
        websocketUrl: { type: string, example: 'wss://api.telenow.ai/ws/web-agent' }
        status: { type: string }
        embedSnippet: { type: string, description: 'Agent-mode only: ready-to-paste WebAgentWidget embed script.' }
        # Manual/softphone mode (mode: "manual") additionally returns:
        callId: { type: string, description: 'Carrier call id (manual mode).' }
        callMode: { type: string, example: manual, description: '"manual" for softphone bridges.' }
        fromNumber: { type: string, description: 'Resolved caller-ID (manual mode).' }
        toNumber: { type: string, description: 'Dialed destination (manual mode).' }
    Agent:
      type: object
      description: Agent config (loosely typed here; see the product docs for the full shape).
      additionalProperties: true
      properties:
        name: { type: string }
        systemPrompt: { type: string }
        llmProvider: { type: string }
        llmModel: { type: string }
        sttProvider: { type: string }
        ttsProvider: { type: string }
        ttsVoice: { type: string }
